body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #121314, #1f262d);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
  color: white;
}

.App {
  position: relative;
  min-height: 100vh;
  z-index: 1;
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), -2px -2px 5px rgba(0, 0, 0, 0.4);
  font-family: 'Dancing Script', cursive;
  font-size: 4rem;
  color: #4ECDC4;
  opacity: 0;  /* Se comienza con opacidad 0 */
  animation: fadeIn 1s ease-out forwards, fadeInUp 1s ease-out forwards;  /* Se agregan ambas animaciones */
  margin-bottom: 100px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
